.main{
    margin: 1rem 1rem;
    width:75%;
    height: auto;
    position: relative;
    left: 10%;;
}

.quiz-game{
    display: flex;
    background-color: rgba(138, 145, 145, 0.776);
    border-radius: 5px;
    padding: 2rem 2rem;
}

.question-section{
    
    height: auto;
}

.question-text{
    font-style: italic;
    font-weight: 600;
    font-size: 1.5rem;
}

span{
    font-size: 1rem;
    font-weight: 600;
}

.answer-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.answer-button{
    width: 100%;
    height: auto;
}

.hint-button{
    background-color: rgb(255, 224, 102);
    color: rgb(0, 0, 0);
}

.heart{
    height: 2rem;
}

.Lives-Section{
    display: flex;
    gap: 1rem;
}

.Lives-Hints{
    display: flex;
    justify-content: start;
    margin-top: 2rem;
}